@charset "gb2312";
/* CSS Document */
img{
	border:0;
}
/*未访问的链接、已访问的链接*/
a:link,a:visited {
	color:#000;
	text-decoration:none;
	border:0;
}  
/*当鼠标停在链接上时*/
a:hover{
	text-decoration:none;
	color:#F0F;
} 
/*被选中的链接*/
a:active{
	text-decoration:none;
	color:#C96;
}
body{ background-image:url(../images/ofanzy_02.gif); background-repeat:repeat; font-size:12px; text-align:left; line-height:20px;}
#layer{ width:991px; margin:0 auto; padding-top:17px; padding-bottom:15px; text-align:left;}
#layer1{ width:991px; height:64px; text-align:center;}
  #layer11{ float:left; width:387px; height:64px; margin-left:0px; display:inline;}
  #layer12{ float:left; width:132px; height:59px; margin-left:400px; margin-top:5px;}
    #layer121{ float:left; width:65px; height:16px;}
	#layer122{ float:left; width:65px; height:16px;}
#layer2{ clear:both; width:991px; height:62px; background-color:#FFF;}
  #layer21{ float:left; width:979px; height:46px; margin-top:16px;}
    #layer211{ float:left; width:17px; height:46px; margin-left:12px; display:inline;}
	#layer212{ float:left; width:941px; height:46px; text-align:center; font-family:"黑体",宋体,Times New Roman,Georgia,Serif; font-size:14px; color:#FFF; background-image:url(../images/ofanzy_15.gif); background-repeat:repeat-x;}
	  #layer2121{ float:left; width:68px; height:31px; padding-top:15px; margin-left:30px; display:inline; background-image:url(../images/ofanzy_15.gif); background-repeat:repeat-x;}
	  #layer2122{ float:left; width:98px; height:31px; padding-top:15px; background-image:url(../images/ofanzy_15.gif); background-repeat:repeat-x;}
	#layer213{ float:left; width:9px; height:46px;}
  #layer22{ float:left; width:12px; height:62px;}
#layer3{ clear:both; width:972px; height:328px; padding:8px 10px 0px 9px; background-color:#FFF;}
#layer4{ width:991px; padding-top:20px; padding-bottom:10px; background-color:#FFF; overflow:hidden;}
  #layer41{ float:left; width:14px; height:420px;}
  #layer42{ float:left; width:270px;}
    #layer421{ clear:both; width:270px; height:49px; background-image:url(../images/ofanfy_07.gif);}
	  #layer4211{ width:100px; height:18px; padding-top:6px; padding-bottom:6px; padding-left:30px; font-family:黑体; font-size:14px; color:#FFF;}
	#layer422{ width:270px; height:168px; padding-top:7px;}
	  #layer4221{ clear:both; width:235px; height:18px; padding-bottom:15px; padding-left:15px;}
	    #layer42211{ float:left; width:29px; height:18px; background-image:url(../images/ofanfy_13.gif);}
		#layer42212{ float:left; width:201px; height:18px; padding-right:5px;}
	#layer423{ clear:both; width:270px; height:49px; background-image:url(../images/ofanfy_07.gif);}
	  #layer4231{ width:100px; height:18px; padding-top:6px; padding-bottom:6px; padding-left:30px; font-family:黑体; font-size:14px; color:#FFF;}
	#layer424{ clear:both; width:270px; padding-top:7px;}
	  #layer4241{ clear:both; width:240px; padding-left:10px; padding-right:20px; margin-bottom:6px;}
	    #layer42411{ float:left; width:70px; text-align:right;}
	    #layer42412{ float:left; width:170px;}
  #layer43{ float:left; width:29px;}
  #layer44{ float:left; width:664px;}
    #layer441{ clear:both; width:614px; height:32px; padding-left:50px; padding-top:15px; background-image:url(../images/ofanfy_09.gif);}
	#layer442{ width:664px;}
  #layer45{ float:left; width:14px;}
#layer5{ clear:both; width:991px; height:50px; background-color:#FFF;}
#layer5 a:link,#layer5 a:visited {
	color:#a09f9f;
	text-decoration:none;
	border:0;
}
  #layer51{ float:left; width:368px; height:27px; margin-left:14px; padding-top:11px; font-size:13px; color:#FFF; text-align:center; display:inline; background-image:url(../images/ofanzy_51.gif); background-repeat:repeat-x;}
  #layer52{ float:left; width:81px; height:37px;}
  #layer53{ float:left; width:491px; height:37px; padding-left:37px; padding-top:11px; font-size:12px; color:#FF915B; text-align:center; background-image:url(../images/ofanzy_55.gif); background-repeat:repeat-x;}
#layer6{ clear:both; width:991px; height:8px;}

/*产品展示主题专用开始*/
#layerP{
	clear:both;
	margin:5px 0;
}
#layerP1{
	height:22px;
	padding-left:20px;
	padding-top:3px;
	font-size:13px;
	background-color:#D7FFF2;
}
#layerP2{
	height:150px;
}
#layerP21{
	float:left;
	width:150px;
	height:150px;
}
#layerP22{
	float:left;
	width:502px;
	padding:5px 6px 0px 6px;
	font-size:12px;
	height:146px;
	background-color:#A2E0FF;
}
#layerP3{
	clear:both;
	height:20px;
	text-align:center;
}
/*产品展示主题专用结束*/
/*影视资源特殊布局开始*/
#layerY1{
	width:664px;
}
#layerY11{
	float:left;
	width:221px;
	height:181px;
	padding-top:4px;
}
#layerY111{
	clear:both;
	width:207px;
	height:160px;
	margin-left:7px;
	margin-bottom:5px;
	margin-right:7px;
}
#layerY112{
	width:213px;
	margin-left:4px;
	margin-right:4px;
	height:16px;
	background-color:#A2A2FF;
	text-align:center;
}
#layerY2{
	clear:both;
	text-align:center;
	padding-top:8px;
	width:664px;
	height:16px;
}
/*影视资源特殊布局结束*/